{% extends 'polls/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<!--Кнопка 1 -->
<br>
<button class="btn btn-success">
    <a href="{% url 'polls:new_question' %}" title="Создать новый вопрос">Создать новый вопрос</a>
</button><br><br>

<h1>Добро пожаловать на главную страницу сайта!</h1>
<ul>
{% for question in questions_list %}
    <li>
        <h2>{{ question.question_text }}</h2>
        <p>{{ question.pub_date }}</p>
        <p><a href="{% url 'question.get_absolute_url' %}">Узнать подробнее</a></p>
        {% if not forloop.last %}
        <hr>
        {% endif %}
    </li>
    {% empty %}
    <li>Sorry, no have a question.</li>
{% endfor %}
</ul>
{% endblock content %}
