{% extends "product/base.html" %}
{% load static %}

{% block title %}Главная страница{% endblock title %}

{% block content %}
<header class="main">
    <div class="topic">
        <h4>Рекомендовано</h4>
    </div>
    <div class="outher">
        {% for product in product_list %}
        <div class="center">
            {% if product.product_title == "Mi Lau Thai Huong Vi Tom" %}
                <img src="{% static 'product/images/Mi Lau Thai.svg' %}" alt="Mi Lau Thai">
                <h5>{{ product.product_title }}</h5>
                <p class="center-pages">Локшина швидкого приготування зі смаком креветки</p>
                <button class="btn btn-primary" type="button">
                    <a href="{% url 'product:detail' product_id }">Дізнатися</a>
                </button>
            {% else %}
                <img src="{% static 'product/images/Cung Dihn.svg' %}" alt="Сung Dihn">
                <h5>{{ product.product_title }}</h5>
                <p class="center-pages">Локшина швидкого приготування зі смаком Яловичини</p>
                <button class="btn btn-primary" type="button">
                    <a href="#">Дізнатися</a>
                </button> 
            {% endif %}
        </div>
        {% endfor %}
    </div>
</header>

<!-- <div class="container">
        <img src="{% static 'product/images/Mi Lau Thai.svg' %}" alt="Mi Lau Thai">
        <img src="{% static 'product/images/Cung Dihn.svg' %}" alt="Сung Dihn">
        <img src="{% static 'product/images/Mi Lau Thai.svg' %}" alt="Mi Lau Thai">
    </div> -->
{% endblock content %}