@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Roboto:wght@900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}
* {
    box-sizing: border-box;
}

/* Фото на сайте */
.home-img {
    max-width: 300px;
    height: 300px;
}

.detail-img {
    width: 600px;
    margin: 10%;
}

.first-img {
    padding-right: 33px;
    padding-top: 10px; 
    width: 354px;
    height: 300px;
}

.small-img {
    padding-top: 30px;
    padding-bottom: 20px;
    width: 200px;
    height: 300px;
    min-width: 200px;
}

/* Текст на сайте */
header {
    display: flex;
    justify-content: end;
    background-color: #3c4a58;
    height: 90px;
    width: 100%;
}

.menu-list {
    display: flex;
    justify-content: center;
    list-style: none;
}

.menu-list li {
    margin-top: 25px;
}

.menu-list li a {
    list-style: none;
    margin-right: 40px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

.button-link {
    width: 220px;
}

.button-link a {
    display: inline-block;
    color: inherit;
    font-weight: 600;
    width: 200px;
    text-align: center;
}

.topic {
    display: inline-block;
    width: 300px;
    color: black;
    border-bottom: 3px solid red;
    margin-top: 50px;
    padding-bottom: 5px;
}

.outher {
    margin: 30px;
}

.center { 
    display: inline-block;
    width: 350px;
    height: 475px;
    background-color: #ffffff;
    border-style: solid;
    border-color: rgb(60, 60, 60);
    border-width: 1px;
    border-radius: 10px;
    margin-left: 3px;
    margin-right: 3px;   
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

.center h5 {
    color:#2f322c;
    font-weight: bold;
}

.center-pages {
    text-align: center;
    font-family: verdana;
    font-size: 15px;
    color: black;
    margin-bottom: 35px;
}

.center-link {
    color: rgba(255, 255, 255, 0.815);
    text-decoration: none;
}

.main {
    margin-top: 25px;
    text-align: center;
}

.box {
    display: inline-block;
    margin-left: 20%;
    margin-right: 20%;
    
}
.box-button {
    height: 150px;
    width: 100px;
    color: black;
    text-decoration: none;
}

.box-text {
    display: inline-block;
    font-size: 20px;
    color:#000000;
    width: 400px;
    /* background-color: #3c4a58; */
    margin: 20px;
    padding: 30px;
}

.box-parent {
    display: flex;
    justify-content: center;
    align-items: start;
}

footer {
    background-color: #3c4a58;
    width: 100%;
    min-height: 60px;
    color:antiquewhite;
    text-align: center;
}
