@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Roboto:wght@900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    background-color: #E3E6E6;
}

* {
    box-sizing: border-box;
}

/* Фото на сайте */
.home-img {
    max-width: 300px;
    height: 300px;
}

.detail-img {
    width: 600px;
    margin: 10%;
}

.first-img {
    padding-right: 33px;
    padding-top: 10px; 
    width: 354px;
    height: 300px;
}

.small-img {
    padding-top: 30px;
    padding-bottom: 20px;
    width: 200px;
    height: 300px;
    min-width: 200px;
}

/* Верхняя навигационная панель */
header {
    display: flex;
    justify-content: space-between;
    background-color: #54181f;
    height: 90px;
}

.nav-menu {
    padding: 25px;
}

.nav-link {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    margin-right: 20px;
    transition: all 0.5s;
    /* margin-right: 50px; */
}

.nav-link:hover {
    color: rgba(255, 255, 255, 0.378);
}

.nav-button {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    width: 200px;
    text-align: center;
    padding: 10px 10px;
    font-weight: bolder;
    border: 2px solid #ffffff;
    transition: all 0.5s;
    /* margin-right: 30px; */
}

.nav-button:hover {
    color: #54181f;
    background-color: #ffffff;
    border: 2px solid #000000;
    font-weight: bold;
}

@media (max-width: 1500px) {
    header {
        flex-direction: column;
    }
}

.topic {
    display: inline-block;
    width: 300px;
    color: black;
    border-bottom: 2px solid rgba(73, 73, 73, 0.603);
    margin-top: 10px;
    padding-bottom: 5px;
}

.outher {
    margin: 30px;
}

.center { 
    display: inline-block;
    width: 350px;
    height: 475px;
    background-color: #ffffff;
    margin: 0px 3px 3px 10px;   /*Верх, право, низ, лево - отступы для каждой стороны */ 
    padding: 0px 15px 15px 15px;     /*Верх, право, низ, лево - отступы для каждой стороны */
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

.center h5 {
    color:#2f322c;
    font-weight: bold;
}

.center-pages {
    text-align: center;
    font-family: verdana;
    font-size: 15px;
    color: black;
    margin-bottom: 35px;
}

.main {
    margin-top: 25px;
    text-align: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0d1216;
    color: #fff;
}

.button-link {
    display: inline-block;
    background-color: rgb(193, 50, 50);
    color: rgb(255, 255, 255);
    text-decoration: none;
    width: 300px;
    /* height: 30px; */
    text-align: center;
    padding: 5px 5px;
    font-weight: 550;
    /* border: 2px solid #000000; */
    transition: all 0.5s;
}

.button-link:hover {
    color:rgb(255, 255, 255);
    background-color: #000000;
    /* border: 2px solid #000000; */
    font-weight: 550;
}

.box-text {
    display: inline-block;
    font-size: 20px;
    color:#ffffff;
    width: 400px;
    /* background-color: #3c4a58; */
    margin: 20px;
    padding: 30px;
}

.box-parent {
    display: flex;
    justify-content: center;
    align-items: start;
}

footer {
    background-color: #3c4a58;
    width: 100%;
    min-height: 60px;
    color:antiquewhite;
    text-align: center;
}

.main-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #000000;
    color: #fff;
}

.menu-image {
    max-width: 400px; /* Укажите желаемую максимальную ширину для изображения */
    height: auto;
    margin-right: 20px;
}
