@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Roboto:wght@900&display=swap');

body {
    background: rgb(95, 95, 95); 
}

img {
    max-width: 300px;   
    padding: 20px; 
}

aside {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background-color: #0000007b;
    float: left;
    height: 963px;
    /* height: 99%; */
    /* width: 310px; */
    width: 15%;
}

.menu a {
    max-width: 15%;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
}   

.topic {
    display: inline-block;
    width: 400px;
    /* text-align: center; */
    color: rgb(255, 255, 255);
    border-bottom: 3px solid red;
    padding-bottom: 0px;
}

.outher {
    margin: 30px;
}

.center { 
    display: inline-block;
    /* flex-direction: column; */
    /* justify-content: space-around; */
    /* text-align: center;  */
    background-color: #ffffff;
    /* height: 400px; */
    /* width: 500px;   */
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    /* margin-top: 10px;    */
    padding: 15px;
}

.center h6 {
    color:rgb(0, 0, 0);
    font-family: 'Oswald', sans-serif;
}

.center-pages {
    text-align: center;
    font-family: verdana;
    font-size: 15px;
}

.center a {
    color: rgba(255, 255, 255, 0.815);
    text-decoration: none;
}

.main {
    text-align: center;
}